<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SettingName" value="SettingValue" />
		<add key="API_URL" value="http://58.236.189.12:8114/StockApi.do"/>
		<add key="VD_CD" value="1004770"/>
		<add key="AES_KEY" value="rlfdmfrjfdjtwlsnrnsrkduvdp"/>
		<add key="GW_ATTACH_FILE_SAVE_PATH" value="C:/GroupwareAttachFiles/"/>
		<add key="QUERY" value="SELECT A.id, A.apmid, A.serverpath, A.value, 'Name', 'Extension', A.size 
FROM public.ywk_v_file_attach AS A 
INNER JOIN (SELECT apmid FROM public.ywk_v_file_doc where to_char like 2023) AS B ON A.apmid = B.apmid"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="ywerp" connectionString="Data Source=192.168.211.31;Initial Catalog=YW;User ID=SI;Password=si123ewq" providerName="System.Data.SqlClient"/>-->
		<!--<add name="ERPDBConn" connectionString="Data Source=192.168.211.31;Initial Catalog=YWDEV;User ID=User_ktk;Password=qp06910691!" providerName="System.Data.SqlClient"/>-->
		<add name="HOME" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" />
		<add name="ERP" connectionString="Data Source = 222.100.204.212; Initial Catalog = YW; Persist Security Info = True; User ID = wms; Password = wms!@#" providerName="MySql.Data.MySqlClient" />
		<add name="ERP_DEV" connectionString="Data Source = 192.168.211.72; Initial Catalog = YWDEV; Persist Security Info = True; User ID = User_ktk; Password = qp06910691!" providerName="System.Data.SqlClient" />
		<add name="MES1" connectionString="Data Source = 192.168.211.33,2434; Initial Catalog = YWPR1_MES; Persist Security Info = True; User ID = kslee; Password = yw*9321" providerName="System.Data.SqlClient"/>
		<add name="MATERIAL" connectionString="Data Source = 172.16.7.64; Initial Catalog = MaterialManagement; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>
		<add name="TWO_MITES" connectionString="Data Source = localhost; Initial Catalog = TwoMites; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>
		<add name="CALEB" connectionString="Data Source = localhost; Initial Catalog = Caleb; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>
		<add name="GW" connectionString="HOST=192.168.211.9;PORT=5432;USERNAME=yonwoo;PASSWORD=yonwoo8707!@;DATABASE=tims" providerName="System.Data.SqlClient"/>
		
		<!--<add name="DBConn" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" providerName="System.Data.SqlClient" />-->
		<!-- C# 에서 사용법: 
		string cnString = ConfigurationManager.ConnectionStrings["DBConn"].ConnectionString;-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>