<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SettingName" value="SettingValue" />
		<add key="API_URL" value="http://58.236.189.12:8114/StockApi.do"/>
		<add key="VD_CD" value="1004770"/>
		<add key="AES_KEY" value="rlfdmfrjfdjtwlsnrnsrkduvdp"/>
		<add key="GW_ATTACH_FILE_SAVE_PATH" value="C:/GroupwareAttachFiles/"/>
	</appSettings>
	<connectionStrings>
		<add name="TWO_MITES" connectionString="Data Source = localhost; Initial Catalog = TwoMites; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>
		<add name="CALEB_CRYPTO" connectionString="C1N/Qg+VCj7dpFtzNVZt4K7vp2/zrPWxTnOqF/rktj5Q0Z0UHYIpqY3PjTknK+/mwzaXOoCAOl9EuUdue7ol/70WTRa3Kcicz46qwV4BMKun5lhh3YXhx5a0XFGPG3anDjtqaUOHp5OEApHjZ0uXLGl9ZWbuBKOo6/zju5EsdkYB2Rs8IAgGwByCWA0lCC7BzBl3PLSuRPZT33Ml3QddzU1wx5WVlqkBCVihYMJsROcidV4IL7m1kZFPKZkXJRWa53UUlcdTESNVtGZYUjQi5lNUUJWaKzMBFhPr5CAOALptmo0HzW3GZfACv+0SUOfy2bdSaYLjTHihFgZ5KBeSxQ== " providerName="System.Data.SqlClient"/>
		<add name="CALEB" connectionString="Data Source = localhost; Initial Catalog = Caleb; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>
		<add name="YWDEV" connectionString="Data Source = localhost; Initial Catalog = YWDEV; Persist Security Info = True; User ID = sa; Password = qp06910691!" providerName="System.Data.SqlClient"/>

		<!-- C# 에서 사용법: 
		string cnString = ConfigurationManager.ConnectionStrings["DBConn"].ConnectionString;-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>