<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConn" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" />
		<!--<add name="DBConn" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" providerName="System.Data.SqlClient" />-->
		<!-- C# 에서 사용법: 
		string cnString = ConfigurationManager.ConnectionStrings["DBConn"].ConnectionString;-->
	</connectionStrings>
</configuration>